.masthead {
  content: "";
  position: absolute;
  height: 100%;
  width: 85vw;
  top: 0;
  left: -20vw;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
  transform: skew(-10deg);
  border-radius: 0;
  transition: width 2s;
}

@media screen and (max-height: 800px) {
  .masthead {
    width: 0%;
  }
  .homepage {
    font-size: 0.7em;
  }
}

.wide {
  width: 125%;
}

.zeroWidth {
  width: 0%;
}

@media screen and (max-width: 800px) {
  .homepage {
    font-size: 0.7em;
  }
}
