.masthead {
  content: "";
  position: absolute;
  height: 100%;
  width: 85%;
  top: 0;
  left: -20%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
  transform: skew(-10deg);
  border-radius: 0;
  transition: width 2s;
}

.wide {
  width: 125%;
}

.zeroWidth {
  width: 0%;
}
